<!DOCTYPE html>
<html
  itemscope
  itemtype="http://schema.org/WebPage"
  lang="{{ .Site.Language.Lang }}"
  class="color-toggle-hidden"
>
  <head>
    {{ partial "head/meta" . }}
    <title>
      {{ if not (eq .Kind "home") }}
        {{ partial "title" . }}{{ printf " | " }}
      {{ end }}{{ .Site.Title }}
    </title>

    {{ partial "head/favicons" . }}
    {{ partial "head/rel-me" . }}
    {{ partial "head/microformats" . }}
    {{ partial "head/others" . }}
    {{ partial "head/schema.html" . }}
    {{ partial "head/custom" . }}
  </head>

  <body>
    {{ partial "svg-sprites" . }}


    <div
      class="wrapper {{ if default false .Site.Params.GeekblogDarkModeDim }}dark-mode-dim{{ end }}"
    >
      {{ partial "site-header" . }}


      <main class="gblog-page container">
        {{ template "main" . }}
      </main>

      {{ partial "site-footer" . }}
    </div>
  </body>
</html>
