<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $description := default (default .Site.Title .Site.Params.description) (default .Summary .Description) }}
{{ $keywords := default .Site.Params.Keywords .Keywords }}
{{ $authors := default (slice .Site.Params.GeekblogAuthor) .Params.authors }}

{{ with $description }}
  <meta name="description" content="{{ . }}" />
{{ end }}
{{ with $keywords }}
  <meta name="keywords" content="{{ delimit . "," }}" />
{{ end }}
{{ with $authors }}
  {{ $list := slice }}
  {{ range sort . }}
    {{ with . }}
      {{ $author := index $.Site.Data.authors . }}
      {{ $list = $list | append $author.name }}
    {{ end }}
  {{ end }}

  {{ with $list }}
    <meta name="author" content="{{ delimit . "," }}" />
  {{ end }}
{{ end }}
